<h2>Shelter Search</h2>
<form #zipSearch="ngForm" (ngSubmit)="onClickSubmit(zipSearch.value)">
    <input type="text" name="zipCode" placeholder="zip code" ngModel>
    <button type="submit">Search</button> 
</form>

<table *ngIf="show" class="table table-responsive table-hover">
    <thead>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">City</th>
        <th scope="col">Distance</th>
        <th scope="col">Social Media</th>
    </thead>
    <tbody>
        <tr *ngFor="let org of searchResults">
            <td>{{org.name}}</td>
            <td>{{org.email}}</td>
            <td>{{org.address.city}}</td>
            <td>{{org.distance}}</td>
            <td>
                <a *ngIf="org.social_media.facebook" href={{org.social_media.facebook}}>
                    <img height="25px" width="25px" src="https://upload.wikimedia.org/wikipedia/commons/2/2c/Facebook-new.png" alt="facebook icon">
                </a>
            </td>

            <button class="btn btn-primary" [routerLink]="['../shelterview-page/' + org.id]">View</button>
            </tr>
    </tbody>
</table>
