<form #zipSearch="ngForm" (ngSubmit)="onClickSubmit(zipSearch.value)">
    <input type="text" name="zipCode" placeholder="zip code" ngModel>
    <button type="submit">Search</button> 
</form>

<table *ngIf="show" class="table table-responsive table-hover">
    <thead>
        <th scope="col">photo</th>
        <th scope="col">id</th>
        <th scope="col">name</th>
        <th scope="col">age</th>
        <th scope="col">status</th>
    </thead>
    <tbody>
        <tr *ngFor="let animal of searchResults.animals">
            <td>
                <img *ngIf="animal.photos[0]; else altImg" src={{animal.photos[0].small}} alt="doggo photo">
                <ng-template #altImg>
                    <img height="100px" width="100px" src="https://upload.wikimedia.org/wikipedia/commons/b/b9/Missing_dog_photo.png" alt="missing image">
                </ng-template>
            </td>
            <td>{{animal.id}}</td>
            <td>{{animal.name}}</td>
            <td>{{animal.age}}</td>
            <td>{{animal.status}}</td>

            <button class="btn btn-primary" [routerLink]="['../dogview-page/' + animal.id]">View</button>
        </tr>
    </tbody>
</table>