<form #zipSearch="ngForm" (ngSubmit)="onClickSubmit(zipSearch.value)">
    <input type="text" name="zipCode" placeholder="zip code" ngModel>
    <button type="submit">Search</button>
</form>

<form #breedSearch="ngForm" (ngSubmit)="breedSearchOnClick(breedSearch.value)">
    <input type="text" name="breedSearch" placeholder="Search By Breed" ngModel>
    <button type="submit">Search</button>
</form>

<table *ngIf="show" class="table table-responsive table-hover">
    <thead>
        <th scope="col">Photo</th>
        <th scope="col">Name</th>
        <th scope="col">Age</th>
        <th scope="col">Breed</th>
        <th scope="col">Status</th>
        <th scope="col">Location</th>
    </thead>
    <tbody>
        <tr *ngFor="let animal of searchResults.animals">
            <td>
                <img *ngIf="animal.photos[0]; else altImg" src={{animal.photos[0].small}} alt="doggo photo">
                <ng-template #altImg>
                    <img height="100px" width="100px" src="https://upload.wikimedia.org/wikipedia/commons/b/b9/Missing_dog_photo.png" alt="missing image">
                </ng-template>
            </td>
            <td>{{animal.name}}</td>
            <td>{{animal.age}}</td>
            <td>{{animal.breeds.primary}}</td>
            <td>{{animal.status}}</td>
            <td>{{animal.contact.address.city}}, {{animal.contact.address.postcode}}</td>

            <button class="btn btn-primary" [routerLink]="['../dogview-page/' + animal.id]">View</button>
        </tr>
    </tbody>
</table>