<h1> Add a topic</h1>

<form [formGroup] = topicGroup>
    <label for="category">Category</label>
    <select name="category" formControlName ="categoryId">
        <option value="1">General</option>
    </select>
    <br/>

    <label for="topicName">Topic Name</label>
    <input name="topicName" formControlName = "topicName">
    <br>
    <label for="topicBody">Topic Message</label>
    <textarea name="topicBody" formControlName = "topicBody"
              style="overflow:auto;resize:none" 
              rows="13" cols="200"
              placeholder="Enter text here...">
    </textarea>
    <br>
    <button class="btn btn-primary" (click)="addTopic(topicGroup)">Submit</button>
</form>
