<div class="panel-body">
    <br>
    <button class="ms-4 btn btn-outline-secondary" (click)="addTopic()">Add Topic</button>
    <br>
    <ul class="mt-3 media-list" *ngFor="let topic of topics.$values">
        <li class="media border col-md-11">
            <div class="media-body">
                <strong class="text-success">{{topic.profile.profileName}}</strong>
                <br>
                <span class="text-muted">
                    <small class="text-muted">{{topic.postTimestamp | date}}</small>
                </span>
                <br>
                <span class="text-muted">
                    <a href="../reply-page/{{topic.topicId}}">{{topic.topicName}}</a>
                </span>
            </div>
        </li>
    </ul>
</div>